@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hero {
  background: #002ed0;
  padding: 0 60px;
  color: #fff;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 820px;
}

.left-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.left-col h1 {
  font-size: 90px;
  line-height: 1;
}

.left-col p {
  font-size: 16px;
  line-height: 2.3;
}

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1100px) {
  .hero {
    padding: 30px;
  }

  .hero-wrapper {
    grid-template-columns: 1fr;
  }

  .left-col h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 468px) {
  .hero-wrapper {
    grid-template-rows: 600px;
  }

  .left-col h1 {
    font-size: 32px;
  }
}

.about {
  padding: 60px 60px;
  background: #002ed0;
  color: #fff;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-container h1 {
  font-size: 110px;
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  margin-bottom: 32px;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px;
}

.about-text {
  padding-right: 20px;
}

.about-text h2 {
  font-size: 48px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.about-text p {
  line-height: 2.3;
}

.about-img {
  display: flex;
  justify-content: center;
}

.about-img img {
  width: 420px;
  height: 610px;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .about {
    padding: 30px;
  }

  .about-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .about-img {
    margin-top: 40px;
  }

  .about-container h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 468px) {
  .about-text h2 {
    font-size: 32px;
  }

  .about-img {
    width: 100%;
    height: 100%;
  }
}

.services {
  background: #002ed0;
  color: #fff;
  position: relative;
}

.services-container {
  background: #000;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
}

.services-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 700px;
}

.services-container h1 {
  font-size: 50px;
}

.left-services {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 30px;
}

.services-content {
  display: flex;
  align-items: flex-start;
}

.services-content img {
  margin-right: 80px;
}

.services-desc {
   margin-right: 50px;
}

.services-desc h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services-desc p {
  line-height: 2;
}

.right-services img {
  height: 700px;
  width: 100%;
}

.yellow-bar {
  position: absolute;
  background: yellow;
  height: 80px;
  bottom: -40px;
  right: 0;
  width: 80%;
  color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.yellow-bar img {
  margin: 0 40px;
}

.yellow-bar p {
  margin-right: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.yellow-bar a {
   text-decoration: none;
   color: #000;
}

.yellow-bar a:hover {
   font-weight: 500;
   border-bottom: 2px solid #000;
   padding-bottom: 3px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .right-services img {
    display: none;
  }

  .yellow-bar {
    width: 100%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 468px) {
  .services-container {
    padding-top: 100px;
    padding-bottom: 160px;
    padding-left: 16px;
  }

  .services-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 900px;
  }

  .services-container h1 {
    text-align: center;
    margin-bottom: 100px;
  }

  .left-services {
    padding: 0 24px;
  }

  .services-content {
    margin-top: 40px;
  }

  .services-content img {
    margin-right: 16px;
  }

  .yellow-bar img {
    margin: 0 20px;
  }

  .yellow-bar p {
    margin-right: 20px;
  }
}


.portfolio {
   background: #002ed0;
   color: #fff;
 }
 
 .portfolio-container {
   padding-top: 100px;
   padding-bottom: 100px;
   padding-left: 60px;
 }
 
 .portfolio-container h1 {
   font-size: 110px;
   letter-spacing: 2px;
   color: black;
   -webkit-text-fill-color: transparent; 
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #fff;
   margin-bottom: 32px;
 }
 
 .portfolio-content {
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
 
 .left-portfolio img {
   height: 100%;
   width: 100%;
 }
 
 .right-portfolio {
   padding: 150px 100px 0 20px;
 }
 
 .right-portfolio h2 {
   margin-bottom: 40px;
   font-size: 30px;
 }
 
 .right-portfolio p {
   margin-bottom: 50px;
   line-height: 2.5;
 }
 
 .right-portfolio a {
   color: #fff;
   text-decoration: none;
 }

.right-portfolio a:hover {
   border-bottom: 1px solid #fff;
   padding-bottom: 3px;
}
 
 .portfolio-projects {
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 32px 64px;
 }
 
 .portfolio-projects img {
   padding: 0 8px;
   width: 100%;
   height: 100%;
 }
 
 /* Media Queries */
 @media screen and (max-width: 1368px) {
   .portfolio-projects {
     flex-direction: column;
   }
 }
 @media screen and (max-width: 1000px) {
   .portfolio {
     padding: 30px;
   }
 
   .portfolio-container h1 {
     font-size: 70px;
   }
 
   .portfolio-content {
     grid-template-columns: 1fr;
   }
 
   .portfolio-container {
     padding-left: 0px;
   }
 
   .right-portfolio {
     margin-bottom: 60px;
   }
 }
 
 @media screen and (max-width: 468px) {
   .portfolio {
     padding: 10px;
   }
 
   .portfolio-container h1 {
     font-size: 40px;
   }
 }



 .contact {
   display: flex;
   align-items: center;
   background: #002ed0;
   padding: 100px 0;
 }
 
 .contact-bar {
   background: yellow;
   height: 80px;
   width: 68%;
   color: #000;
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }
 
 .contact-bar img {
   margin-right: 40px;
 }
 
 .contact-bar p {
   margin-right: 40px;
   font-weight: 700;
 }
 
 .contact-bar a {
   text-decoration: none;
   color: #000;
   margin-right: 40px;
 }

.contact-bar a:hover {
   font-weight: 500;
   border-bottom: 2px solid #000;
   padding-bottom: 3px;
}

 .contact h1 {
   margin-left: 100px;
   font-size: 40px;
   color: #fff;
 }
 
 @media screen and (max-width: 768px) {
   .contact {
     flex-direction: column;
   }
 
   .contact-bar {
     width: 100%;
     justify-content: center;
   }
 
   .contact-bar img {
     margin-left: 16px;
     margin-right: 16px;
   }
 
   .contact-bar p {
     margin-right: 16px;
   }
 
   .contact-bar a {
     font-size: 16px;
   }
 
   .contact h1 {
     margin-left: 0;
     margin-top: 24px;
     font-size: 32px;
   }
 }
 
 .footer {
   background: #0030db;
   color: #fff;
 }
 
 .footer-container {
   padding: 60px;
   display: grid;
   grid-template-columns: 1fr 2fr;
 }
 
 .left-footer {
   display: flex;
   flex-direction: column;
 }
 
 .left-footer h2 {
   margin-bottom: 24px;
 }
 
 .left-footer p {
   line-height: 2;
 }
 
 .right-footer {
   display: flex;
   justify-content: space-between;
   padding: 0 100px;
 }
 
 .right-footer a {
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
 }

 .right-footer a:hover {
   border-bottom: 1px solid #fff;
   padding-bottom: 3px;
 }
 
 @media screen and (max-width: 1000px) {
   .footer-container {
     padding: 60px 24px;
     grid-template-columns: 1fr 1fr;
   }
 
   .right-footer {
     flex-direction: column;
   }
 }
 
 @media screen and (max-width: 468px) {
   .right-footer {
     padding: 0 16px;
   }
 }